@font-face {
    font-family: Kavoon;
    src: url(./fonts/Kavoon/Kavoon-Regular.ttf);
}
@font-face {
    font-family: Jua;
    src: url(./fonts/Jua-Regular.ttf);
}
@font-face {
    font-family: Atma;
    src: url("./fonts/Atma/Atma-Regular.ttf");
}
@font-face {
    font-family: Atlarge;
    src: url("./fonts/Atma/Atma-Bold.ttf");
}

h1 a{
    text-decoration: none;
    color: #FFE8A3;
    text-shadow: 1px 1px 2px rgb(90, 90, 90);;
}

h2, h3, h4, h5, h6 {
    font-family: Atlarge;
}
p{
    font-family: Atma;
    font-size: 14px;
    font-weight: 500;
}

header{
    display: flex;
    background-color: #76BAFD;
    font-family: Kavoon;
    justify-content: center;
    color: #FFE8A3;
    text-shadow: 1px 1px 2px rgb(90, 90, 90);
}

nav{
    display: flex;
    flex-wrap: wrap;
    background-color: #C1C1C1;
    height: 40px;
    font-family: Jua;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 0;
    margin-top: 0;
    z-index: 4;
}
nav a{
    color: black;
    text-decoration: none;
}
nav a:hover{
    text-decoration: underline;
}
.active {
    color: rgb(17, 106, 128);
    text-decoration: underline;
}
.active:hover{ text-decoration: none; }

body{
    background-image: url("./images/cloudBackgroud.svg");
}

.reviewsContainer{
    display: flex;
    flex-wrap: wrap;
    width: 96%;
    margin: auto;

    align-content: center;
    align-items: center;
    justify-content: space-around;
}
.review{
    border: 3px solid #0c0c0c;
    display: grid;
    grid-template-columns: .5fr 1fr;
    grid-template-rows: /* 1fr 5fr */ auto;
    grid-template-areas: "reviewInfo reviewInfo" "reviewImage reviewText";

    height: 12%;
    min-height: 100px;

    max-width: 550px;

    padding: 10px;

    margin: 3px;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 15px;

    background-color: #FFFFFF;
}
.tinyReview{
    width: 100%;
}
@media (max-width: 650px) {
    .reviewsContainer{
        width: 97.5%;
    }
}
.review h2, p, h3, h4 {
    margin: 5px;
}
.reviewInfo {
    grid-area: reviewInfo;
}
.reviewText{
    grid-area: reviewText;
    overflow-y: auto;
}
.reviewText > p {text-indent: 32px;}

.reviewImage{
    grid-area: reviewImage;
    height: 100%;
    width: 100%;
}
.reviewImage > img {
    width: 100%;
    height: 100%;
    max-height: 250px;
    min-height: 50px;
    
}

.photoGallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    border: 3px solid #0c0c0c;
    border-radius: 15px;
    overflow: hidden;

    padding: 10px;
    margin: 3px auto 20px auto;/* top right bottom left */

    background-color: #E7E7E7;

    width: 90%;
}

.galleryImageDiv {
    border-radius: 15px;
    overflow: hidden;
    width: 22%;
    height: 22%;
    border: 2px solid #0c0c0c;
    margin: 5px;
}

.galleryImageDiv img {
    width: 100%;
    height: 100%;
}

.galleryVideo {
    width: 90%;
    /* height: 400px; */
    background-color: #E7E7E7;
    border: solid 3px #0c0c0c;
    border-radius: 15px;
    margin: auto;
    overflow: hidden;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr .1fr;
    grid-template-areas: "video" "text";
}
.video{
    grid-area: video;
}
.videoInfo{
    grid-area: text;
    padding: 10px;
}
.galleryVideo video{
    width: 100%;
    height: 100%;
    max-height: 500px;
    margin: 5px;
}

footer{
    background-color: #76BAFD;
    width: 96%;
    border-radius: 20px;
    margin: 10px;
    padding: 15px;
}
.tiny-duck1{
    width: 61px;
    height: 48px;
    float: right;
}
.tiny-duck2{
    width: 61px;
    height: 48px;
    float: right;
}
.duck{
    width: 100px;
    height: 80px;
    float: right;
}