@font-face {
    font-family: Kavoon;
    src: url(./fonts/Kavoon/Kavoon-Regular.ttf);
}

@font-face {
    font-family: Jua;
    src: url(./fonts/Jua-Regular.ttf);
}

h1 a{
    text-decoration: none;
    color: #FFE8A3;
    text-shadow: 1px 1px 2px rgb(90, 90, 90);;
}

header{
    display: flex;
    background-color: #76BAFD;
    font-family: Kavoon;
    justify-content: center;
    color: #FFE8A3;
    text-shadow: 1px 1px 2px rgb(90, 90, 90);
}

nav{
    display: flex;
    flex-wrap: wrap;
    background-color: #C1C1C1;
    height: 40px;
    font-family: Jua;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 0;
    margin-top: 0;
    z-index: 4;
}
nav a{
    color: black;
    text-decoration: none;
}
nav a:hover{
    text-decoration: underline;
}
.active {
    color: purple;
    text-decoration: underline;
}
.active:hover{ text-decoration: none; }

body{
    background-image: url("./images/cloudBackgroud.svg");
}

.reviewsContainer{
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: auto;

    justify-content: space-around;
}
.review{
    border: 3px solid #0c0c0c;
    display: grid;
    grid-template-columns: .5fr 1fr;
    grid-template-rows: /* 1fr 5fr */ auto;
    grid-template-areas: "reviewInfo reviewInfo" "reviewImage reviewText";

    height: 12%;
    min-height: 100px;

    max-width: 750px;

    padding: 10px;

    margin: 3px;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 15px;

    background-color: #FFFFFF;
}
.tinyReview{
    width: 100%;
}
@media (max-width: 650px) {
    .reviewsContainer{
        width: 97.5%;
    }
}
.review h2, p, h3, h4 {
    margin: 5px;
}
.reviewInfo {
    grid-area: reviewInfo;
}
.reviewText{
    grid-area: reviewText;
}
.reviewText > p {text-indent: 32px;}

.reviewImage{
    grid-area: reviewImage;
    height: 100%;
    width: 100%;
}
.reviewImage > img {
    width: 100%;
    height: 100%;
    max-height: 250px;
    min-height: 50px;
    
}

.photoGallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    border: 3px solid #0c0c0c;
    border-radius: 15px;
    overflow: hidden;

    padding: 10px;
    margin: 3px auto 20px auto;/* top right bottom left */

    background-color: #FFFFFF;

    width: 90%;
}

.galleryImageDiv {
    border-radius: 15px;
    overflow: hidden;
    width: 22%;
    height: 22%;
    border: 2px solid #0c0c0c;
    margin: 5px;
}

.galleryImageDiv img {
    width: 100%;
    height: 100%;
}

.galleryVideo {
    width: 90%;
    height: 400px;
    background-color: #FFFFFF;
    border: solid 3px #0c0c0c;
    border-radius: 15px;
    margin: auto;
    overflow: hidden;
}

.galleryVideo video{
    width: 100%;
    height: 100%;
}